# -*- coding: utf-8 -*-
# vi:ts=4 sw=4 sts=4 tw=78 et:
# -----------------------------------------------------------------------------
# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = crlf
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.bat]
charset = cp932

[*.reg]
charset = utf-16

[*.md]
trim_trailing_whitespace = false

[*.{xml,html,css}]
indent_size = 2

[Makefile]
indent_style = tab
